<section class="notice-board">
  <div class="notice-board-info">
    <h1>Prikbord</h1>
    <p>Jouw bericht maakt iemands dag leuker!</p>
  </div>
  <div class="post-form">
    <div class="user-avatar">
      <a href="#">
        <img
          src="https://i.pravatar.cc/400"
          alt="Profiel foto"
          width="50"
          height="50">
      </a>
    </div>

    <form
      class="message-form"
      method="post"
      action="/notice-board">
      <textarea
        name="textArea"
        id="post"
        rows="3"
        placeholder="Wat denk jij?"
        required
        aria-label="Bericht invoeren"></textarea>
      <button type="submit" class="submit-button">Plaatsen</button>
    </form>
  </div>
</section>

<section class="messages">
  {% for message in messages %}
    <div class="message">
      {{ message.message }}
    </div>
  {% endfor %}
</section>

<style>
  .notice-board {
    max-width: 960px;
    padding: 1em;
    margin: auto;
  }

  .notice-board p {
    margin: 1em 0;
  }

  .post-form {
    max-width: 600px;
    display: flex;
    gap: 1rem;
    padding: 1.5rem;
    background: white;
    border-radius: 12px;
    box-shadow: 0 0 0 2px var(--secondary-color);
  }

  .user-avatar img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid grey;
  }

  .message-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  textarea {
    width: 100%;
    resize: none;
    padding: 0.75rem;
    border: 1px solid grey;
    border-radius: 8px;
    font-size: 1rem;
    min-height: 80px;
    transition: all 0.3s ease;
  }
  
  textarea:focus {
    outline: none;
    border-color: var(--primary-color);
    box-shadow: 0 0 0 2px rgba(68, 137, 248, 0.2);
  }

  textarea::placeholder {
    transition: all 0.2s ease;
  }

  textarea:focus::placeholder {
    transform: translateX(10px);
    transition: transform 0.3s ease;
  }

  .submit-button {
    align-self: stretch;
    padding: 12px 32px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 17px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.2s;
  }

  .submit-button:hover {
    background-color: #3367d6;
  }
  .submit-button:active {
    transform: scale(0.9);
  }

  .messages {
    max-width: 960px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: auto;
  }

  .message {
    max-width: 600px;
    padding: 10px 20px;
    border-radius: 12px;
    box-shadow: 0 0 0 2px var(--secondary-color);
  }

  @media (min-width: 426px) {
    .submit-button {
      padding: 12px 32px;
      align-self: flex-end;
    }
  }
</style>